@font-face {
    font-family: prathmesh-font;
    src: url('./asset/Best\ Work.otf');
}
@font-face {
    font-family: prathmesh-font-2;
    src: url('./asset/Gourami.otf');
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "jost";
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/1.jpg);
    background-repeat: no-repeat;
    display: grid;
    text-align: center;
    place-items: center;;
    background-size: 100% auto;
    background-attachment: fixed;
}
h2{
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 2px 2px 5px #000;
    font-family: prathmesh-font;
    color:thistle;
    text-shadow: 10px 10px 5px black;
}
p{
    font-size: 50px;
    font-weight: 100;
    color: blanchedalmond;
    font-family: prathmesh-font-2;
    font-size: 50px;
}
.section-2{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/2.jpg);
    background-attachment: fixed;
}
.section-3 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/3.jpg);
    background-attachment: fixed;
}
.section-4 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/4.jpg);
    background-attachment: fixed;
}
.section-5 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/5.jpg);
    background-attachment: fixed;
}
.section-6 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/6.jpg);
    background-attachment: fixed;
}
.section-7 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(./asset/7.jpg);
    background-attachment: fixed;
}